/*
 * 其他页面使用Popover和Popconfirm时样式被覆盖，所以在这里给div加类名popupSelection
 */
.popupSelection {
  .ant-popover-arrow {
    border: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  .ant-popover-content {
    // position: absolute;
    top: 0 !important;

    .ant-pro-table-search {
      height: 0 !important;
      padding: 0 !important;
    }
  }
  // .ant-popover {
  //   top: 20px !important;
  // }
  .ant-btn-icon-only.ant-btn-sm {
    height: 28px;
    width: 28px;
  }
}
.popupModal {
  .ant-modal-body {
    padding: unset !important;
  }
  .elSearchTable-queryForm-container {
    border-bottom: unset !important;
  }
  .elSearchTable-actionButton-container {
    padding: unset !important;
  }
}
